@import '../../../../styles/variables.scss';
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  input {
    width: 90%;
    max-width: 400px;
    height: 40px;
    padding: 6px 48px;
    border: 0;
    text-overflow: ellipsis;
    background-color: $color3;
    border-radius: 500px;
  }
}
input:focus-visible {
  outline: 0;
}