@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  src: url('../assets/fonts/Montserrat-ExtraLight.woff') format('woff');
  src: url('../assets/fonts/Montserrat-ExtraLight.eot');
  src: url('../assets/fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype');
  src: url('../assets/fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  src: url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  src: url('../assets/fonts/Montserrat-Regular.eot');
  src: url('../assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  src: url('../assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
  src: url('../assets/fonts/Montserrat-Medium.woff') format('woff');
  src: url('../assets/fonts/Montserrat-Medium.eot');
  src: url('../assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype');
  src: url('../assets/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
$color: #000000;
$color2: #1DB954;
$color3: white;
$color4: #242121;
$color5: #423e3e;