<ng-container *ngIf="tracks">
  <div class="list__track" *ngFor="let track of tracks; index as i">
    <div class="track__img">
      <img src={{track.album.images[2].url}} alt="">
    </div>
    <div class="track__info">
      <p>{{ track.name }}</p>
      <p>{{ track.artists[0].name }}</p>
    </div>
    <div class="track__album">{{ track.album.name }}</div>
    <ng-container *ngIf="likedTracks">
      <div 
        class="track__like {{likedTracks[i]? 'liked' : 'unliked'}}" 
        id="{{track.id}}"
        (click)="changeLike($event)"
      ></div>
    </ng-container>
  </div>
</ng-container>