@use "sass:math";
@import "_variables.scss";

.list__track {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  width: 100%;
  text-overflow: ellipsis;
}
.track__img {
  width: 20%;
  cursor: pointer;
  position: relative;
}
.img__playButton {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 20px solid $color3;
  position: absolute;
  top: 21px;
  left: 23px;
  width: 0;
  height: 0;
}
.img__pauseButton::after {
  background-color: $color3;
  position: absolute;
  content: '';
  top: 21px;
  left: 19px;
  width: 10px;
  height: 20px;
}
.img__pauseButton::before {
  background-color: $color3;
  position: absolute;
  content: '';
  top: 21px;
  left: 34px;
  width: 10px;
  height: 20px;
}
.track__info {
  width: 34%;
}
.track__album {
  width: 30%;
}
.track__like {
  position: relative;
  width: 10px;
  height: 9px;
  width: 10%;
}
.liked {
  &::before,
  &::after {
    background-color: $color2;
  }
}
.unliked {
  &::before,
  &::after {
    background-color: $color3;
  }
}
.track__like {
  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 9px;
    top: 0;
    width: 10px;
    height: 14px;
    border-radius: 50px 50px 0 0;
    cursor: pointer;
  }
}
.track__like::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.track__like::after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
