@import './styles/variables.scss';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: $color;
  color: $color3;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}